<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mi Cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding-top ion-text-center">
    <img src="https://www.gravatar.com/avatar?d=mm&s=140" alt="avatar">
    <h2 *ngIf="this.json.username">{{this.json.username}}</h2>
     <ion-button *ngIf="!this.json.username" [disabled]="!this.json.username">   <h6>Usuario<br>Invalido</h6>  </ion-button>


    <ion-list inset>
      <!-- <ion-item (click)="updatePicture()">Update Picture</ion-item> -->
      <ion-item (click)="changeUsername()">Cambiar usuario</ion-item>
      <ion-item (click)="changePassword()">Cambiar contraseña</ion-item>
      <ion-item (click)="support()">Soporte</ion-item>
      <ion-item (click)="logout()">Salir</ion-item>
    </ion-list>
  </div>
</ion-content>
