<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Inicio especial</ion-title>
        <ion-buttons  slot="end">
            <ion-button color="primary" (click)="step2()" *ngIf="this.step=='1'&&this.json.tipo_cuenta==999">Administrar Usuarios</ion-button>
            <ion-button color="primary" (click)="step1()" *ngIf="this.step=='2'&&this.json.tipo_cuenta==999">Volver</ion-button>
         </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <section *ngIf="this.step=='1'" >

  <div class="signup-logo">
    <img src="assets/img/logo_miscobrosaqui.png" alt="Ionic Logo">
  </div>


  <ion-grid *ngIf="this.json.tipo_cuenta==999">
    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <ion-text style="color:green;" >Bienvenido al panel administrador.</ion-text>
      </ion-col>
    </ion-row>
  <ion-row class="ion-align-items-center">
    <ion-col size="12" class="ion-text-center">
      <ion-text color="primary" >agregar codigo de activacion:</ion-text>
      <ion-item>
        <ion-label position="floating">Codigo:</ion-label>
        <ion-input (ionChange)="changecodigosvalidosactivar($event)" size="small"></ion-input>
      </ion-item>
      
      <ion-button  (click)="miscobrosagregarcodigo()" color="danger" ><ion-text style="font-weight: 500;">INGRESAR</ion-text>
      </ion-button>
    </ion-col>
  </ion-row>

    <ion-row class="ion-align-items-center">
    <ion-col size="6" class="ion-text-center">
      <ion-text color="primary" >Codigo:</ion-text>

    </ion-col>
    <ion-col size="6" class="ion-text-center">
    <ion-text color="primary" >estado:</ion-text>
    </ion-col>
    </ion-row>

    <section *ngFor="let cadacodigo of this.respuestamiscobrosobtenercodigosoptimacodigosdeactivacion">


    <ion-row class="ion-align-items-center">
    <ion-col size="6" class="ion-text-center">
      <ion-text color="primary" >{{cadacodigo.codigos_validos_activar}}</ion-text>

    </ion-col>
    <ion-col size="6" class="ion-text-center">
      <ion-text style="color:green" *ngIf="cadacodigo.status=='1'" color="primary" >disponible</ion-text>
      <ion-text style="color:red" *ngIf="cadacodigo.status=='0'" color="primary" >usado</ion-text>

    </ion-col>
    </ion-row>

  </section>
  

  </ion-grid>


  <ion-grid *ngIf="this.json.tipo_cuenta!=999">
    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <ion-text style="color:red;">No esta autorizado para navegar aqui.</ion-text>
      </ion-col>
      </ion-row>
  </ion-grid>

</section>


<section  *ngIf="this.step=='2'">

  <ion-row class="ion-align-items-center">
    <ion-col style="text-align: center;" size="12" class="ion-text-center">
      <ion-text>Lista de usuarios activados / desactivados:</ion-text>
    </ion-col>
  </ion-row>

  <ion-row class="ion-align-items-center">
    <ion-col size="4" class="ion-text-center">
      <ion-text color="primary" >Usuario<br>desactivado</ion-text>
  
    </ion-col>
    <ion-col size="3" class="ion-text-center">
      <ion-text color="primary" >fecha<br>creacion</ion-text>
    </ion-col>
    <ion-col size="2.5" class="ion-text-center">
      <ion-text color="primary" >Act<br>Desac</ion-text>
    </ion-col>
    <ion-col size="2.5" class="ion-text-center">
      <ion-text color="primary" >Admini-<br>strar</ion-text>
    </ion-col>
    </ion-row>

<section *ngFor="let cadausuario of this.respuestamiscobrostodoslosusuarios">




  <ion-row *ngIf="cadausuario.tipo_cuenta!='999'" class="ion-align-items-center">
  <ion-col size="4" class="ion-text-center">
    <ion-text color="primary" >{{cadausuario.username}}</ion-text>

  </ion-col>
  <ion-col size="3" class="ion-text-center">
    <ion-text style="font-size: small;" color="primary" >{{cadausuario.create_date}}</ion-text>
  </ion-col>
  <ion-col size="2.5" class="ion-text-center">
    <ion-button size="small;" *ngIf="cadausuario.tipo_cuenta=='0'" color="success" (click)="activarusuario(cadausuario)">Act</ion-button>
    <ion-button size="small;" *ngIf="cadausuario.tipo_cuenta=='1'"  color="danger" (click)="desactivarusuario(cadausuario)">Des</ion-button>
  </ion-col>

  <ion-col size="2.5" class="ion-text-center">
    <ion-button size="small;" color="primary" (click)="administrarusuario(cadausuario)"><ion-icon style="color:white;" name="document-text-outline"></ion-icon></ion-button>
  </ion-col>


  </ion-row>

</section>

</section>




<section *ngIf="this.step!='1'&&this.step!='2'&&this.step=='3'">

  <ion-grid>

    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <ion-button  (click)="step2()" color="danger" ><ion-text style="font-weight: 500;">Volver</ion-text>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row class="ion-align-items-center">
      <ion-col size="10.5" class="ion-text-center">

      </ion-col>
      <ion-col size="1.5" class="ion-text-center">
        <ion-button color="primary" (click)="step4()" *ngIf="this.json.tipo_cuenta==999"><ion-icon style="color:white;" name="add-outline"></ion-icon></ion-button>
      </ion-col>
    </ion-row>



  
    <ion-card>
      <ion-card-header *ngIf="this.respuestamiscobrosconsultarmovimientos.length>0" >
        <ion-card-subtitle>
        <ion-row>
          <ion-col style="text-align: center;" size="5.5">
            <ion-text>Nombre</ion-text>
          </ion-col>
          <ion-col style="text-align: center;" size="3.5">
            <ion-text>Metodo</ion-text>
          </ion-col>
          <ion-col style="text-align: center;" size="3">
            <ion-text>Monto</ion-text>
          </ion-col>
        </ion-row>
      </ion-card-subtitle>
      </ion-card-header>
    </ion-card>

<ion-card *ngFor="let movimiento of this.respuestamiscobrosconsultarmovimientos">
  <ion-card-header *ngIf="this.respuestamiscobrosconsultarmovimientos.length>0" >
    <ion-card-subtitle>
    <ion-row>
      <ion-col style="text-align: center;" size="5.5">
        <ion-text color="primary">{{movimiento.nombre}}</ion-text>
      </ion-col>
      <ion-col style="text-align: center;" size="3.5">
        <ion-text color="primary">{{movimiento.metodo}}</ion-text>
      </ion-col>
      <ion-col style="text-align: center;" size="2">
        <ion-text color="primary">{{movimiento.monto}}</ion-text>
      </ion-col>
      <ion-col style="text-align: center;" size="1">
        <ion-button (click)="borrarmovimiento(movimiento)" style="margin-top: -5px;" size="small" color="primary">
          <ion-icon style="color:white;" name="close-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-card-subtitle>
  </ion-card-header>
  </ion-card>


  <ion-card *ngIf="this.respuestamiscobrosconsultarmovimientos.length=='0'" style="text-align: center;" color="transparent;" color="transparent">
    <br>
    <ion-label><ion-text>Disculpe, este usuario no cuenta con movimientos registrados.</ion-text></ion-label>
  </ion-card>

    
  </ion-grid>

</section>

<section *ngIf="this.step!='1'&&this.step!='2'&&this.step!='3'&&this.step=='4'">



  <ion-row class="ion-align-items-center">
    <ion-col size="1.5" class="ion-text-center">
      <ion-button color="primary" (click)="step3()"><ion-icon style="color:white;" name="arrow-undo-outline"></ion-icon></ion-button>
    </ion-col>
    <ion-col size="10.5" class="ion-text-center">
    </ion-col>
  </ion-row>

  <ion-card>
    
    <ion-row>
        <ion-col size="6">
          <ion-text color="primary">Nombre:</ion-text>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">Nombre...</ion-label>
            <ion-input [(ngModel)]="agregarnombre"></ion-input>
          </ion-item>
        </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-text color="primary">Metodo:</ion-text>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-label>Metodo:</ion-label>
          <ion-select style="font-size: small;" [(ngModel)]="agregarmetodo" interface="popover" placeholder="Seleccione..">
            <ion-select-option value="Paypal">Paypal</ion-select-option>
            <ion-select-option value="Transferencia">Transferencia</ion-select-option>
            <ion-select-option value="Deposito">Deposito</ion-select-option>
            <ion-select-option value="Efectivo">Efectivo</ion-select-option>
          </ion-select>
        </ion-item>
        

      </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="6">
      <ion-text color="primary">Monto:</ion-text>
    </ion-col>
    <ion-col size="6">
      <ion-item>
        <ion-label position="floating">monto...</ion-label>
        <ion-input [(ngModel)]="agregarmonto"></ion-input>
      </ion-item>
     </ion-col>
</ion-row>


<ion-row class="ion-align-items-center">
  <ion-col size="12" class="ion-text-center">
    <ion-button [disabled]="agregarnombre==''||agregarmonto==''||agregarnombre==null||agregarnombre==undefined||agregarmetodo==null||agregarmetodo==undefnied||agregarmonto==null||agregarmonto==undefined" (click)="agregarmovimiento()" color="primary" ><ion-text style="font-weight: 500;">Agregar <ion-icon style="color:white;" name="checkmark-done-outline"></ion-icon></ion-text>
    </ion-button>
  </ion-col>
</ion-row>

</ion-card>


</section>


</ion-content>
