<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Inicio especial</ion-title>
        <ion-buttons  slot="end">
            <ion-button color="primary" (click)="step2()" *ngIf="this.step=='1'&&this.json.tipo_cuenta==999">Activar Usuarios</ion-button>
            <ion-button color="primary" (click)="step1()" *ngIf="this.step=='2'&&this.json.tipo_cuenta==999">Volver</ion-button>
         </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <section *ngIf="this.step=='1'" >

  <div class="signup-logo">
    <img src="assets/img/appicon.svg" alt="Ionic Logo">
  </div>


  <ion-grid *ngIf="this.json.tipo_cuenta==999">
    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <ion-text style="color:green;" >Bienvenido al panel administrador.</ion-text>
      </ion-col>
    </ion-row>
  <ion-row class="ion-align-items-center">
    <ion-col size="12" class="ion-text-center">
      <ion-text color="primary" >agregar codigo de activacion:</ion-text>
      <ion-item>
        <ion-label position="floating">Codigo:</ion-label>
        <ion-input (ionChange)="changecodigosvalidosactivar($event)" size="small"></ion-input>
      </ion-item>
      
      <ion-button  (click)="agregarcodigo()" color="danger" ><ion-text style="font-weight: 500;">INGRESAR</ion-text>
      </ion-button>
    </ion-col>
  </ion-row>

    <ion-row class="ion-align-items-center">
    <ion-col size="6" class="ion-text-center">
      <ion-text color="primary" >Codigo:</ion-text>

    </ion-col>
    <ion-col size="6" class="ion-text-center">
    <ion-text color="primary" >estado:</ion-text>
    </ion-col>
    </ion-row>

    <section *ngFor="let cadacodigo of this.respuestaobtenercodigosoptimacodigosdeactivacion">


    <ion-row class="ion-align-items-center">
    <ion-col size="6" class="ion-text-center">
      <ion-text color="primary" >{{cadacodigo.codigos_validos_activar}}</ion-text>

    </ion-col>
    <ion-col size="6" class="ion-text-center">
      <ion-text style="color:green" *ngIf="cadacodigo.status=='1'" color="primary" >disponible</ion-text>
      <ion-text style="color:red" *ngIf="cadacodigo.status=='0'" color="primary" >usado</ion-text>

    </ion-col>
    </ion-row>

  </section>
  

  </ion-grid>


  <ion-grid *ngIf="this.json.tipo_cuenta!=999">
    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <ion-text style="color:red;">No esta autorizado para navegar aqui.</ion-text>
      </ion-col>
      </ion-row>
  </ion-grid>

</section>


<section  *ngIf="this.step=='2'">

  <ion-text>Lista de usuarios activados / desactivados:</ion-text>


  <ion-row class="ion-align-items-center">
    <ion-col size="5" class="ion-text-center">
      <ion-text color="primary" >Usuario<br>desactivado</ion-text>
  
    </ion-col>
    <ion-col size="4" class="ion-text-center">
      <ion-text color="primary" >fecha<br>creacion</ion-text>
    </ion-col>
    <ion-col size="3" class="ion-text-center">
      <ion-text color="primary" >acccion de<br>activar/des</ion-text>
    </ion-col>
    </ion-row>

<section *ngFor="let cadausuario of this.respuestatodoslosusuarios">




  <ion-row class="ion-align-items-center">
  <ion-col size="5" class="ion-text-center">
    <ion-text color="primary" >{{cadausuario.username}}</ion-text>

  </ion-col>
  <ion-col size="4" class="ion-text-center">
    <ion-text color="primary" >{{cadausuario.create_date}}</ion-text>
  </ion-col>
  <ion-col size="3" class="ion-text-center">
    <ion-button *ngIf="cadausuario.tipo_cuenta=='0'" color="primary" (click)="activarusuario(cadausuario)">Activar</ion-button>
    <ion-button *ngIf="cadausuario.tipo_cuenta=='1'"  color="danger" (click)="desactivarusuario(cadausuario)">Desactivar</ion-button>

  </ion-col>
  </ion-row>

</section>

</section>

</ion-content>
